
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-skype-outline:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */